.title {
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.intro {
  margin-left: 40px;
}
.box-question {
  margin-left: 40px;
}
.question {
  margin-left: 40px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255);
  width: 500px;
  border-left: 5px solid rgb(207, 207, 207);
  padding-left: 5px;
}
.answer {
  margin-left: 40px;
  margin-bottom: 40px;
  background-color: rgb(253, 221, 164);
  width: 500px;
  border-left: 5px solid rgb(207, 207, 207);
  padding-left: 5px;
}
.new {
  margin-left: 40px;
}
